configuration {
    display-drun:    "❱";
    show-icons:      true;
}

* {
    font: "Google Sans Regular 12";
    padding: 3px 5px;
    background-color: rgba(0,0,0,0);
    color: #fff;
}


window {
    background-color: rgba(0,0,0,0.5);
}

listview {
    padding: 20px 5px 0px 5px;
    spacing: 0.2em;
}

#element {
    padding: 4px;
}

#element selected {
  border-radius: 4px;
  background-color: rgba(50,50,50,0.5);
}

/* vim:ft=css 
